Passengers (“pax” for short) book tickets at an airline to take them from origin to
distination. Some bookings are non-stop, while others go through intermediate
airports (“layovers”).

Airports can be uniquely identified by their three-letter IATA code. For example,
Amsterdam Airport Schiphol is AMS, Atlanta is ATL.

## Creating sample dataframe

in order to collecting and tracking booking table I create 2 different dataframe.

1) Booking<br>
<ul>
    <li>PAXName     : Name of Passenger</li>
    <li>Deparute    : Date and Time of Departure</li>
    <li>FlightId    : Unique Id that identify the flights</li>
    <li>Origin      : Origin of departure for the flights</li>
    <li>Destination : Destination of depature for the flights</li>
    </ul>
    
2) Flight<br>
<ul>
    <li>FlightId    : Unique Id that identify the flights</li>
    <li>Airports    : Visited airports </li>
    </ul>

In [4]:
# Library loading
import pandas as pd
import numpy as np

In [5]:
booking = pd.DataFrame(
    {
        "PAXName": ["Alice", "Bruce", "Cindy", "Derek"],
        "Departure": ["May-26 06:45", "Jun-04 11:04", "Jun-06 10:00", "Jun-12 08:09"],
        "FlightId": [1, 2, 3, 4],
        "Origin": ["AAL", "GVA", "AMS", "AMS"],
        "Destination": ["AMS", "WAW", "ATL", "ATL"],
    }
)
flight = pd.DataFrame(
    {
        "FlightId": [1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4],
        "Airports": [
            "AAL",
            "AMS",
            "GVA",
            "CGD",
            "WAW",
            "AMS",
            "LHR",
            "JFK",
            "ATL",
            "AMS",
            "ATL",
        ],
    }
)

## Q1: Add New Record

In [6]:
# Adding new Booking
newRowBooking = {
    "PAXName": "Erica",
    "Departure": "Jun-13 20:40",
    "FlightId": 5,
    "Origin": "ATL",
    "Destination": "AAL",
}
# Append row to the dataframe

booking = booking.append(newRowBooking, ignore_index=True)

# Adding new Flight

newRowFlight = pd.DataFrame(
    {"FlightId": [5, 5, 5], "Airports": ["ATL", "AMS", "AAL"]}
)


# append row to the dataframe

flight = flight.append(newRowFlight, ignore_index=True)

In [7]:
# Merging Flight and Booking tables

flight["Rank"] = flight.groupby(["FlightId"]).cumcount() + 1
df = pd.merge(booking, flight, on="FlightId")
df

   PAXName     Departure  FlightId Origin Destination Airports  Rank
0    Alice  May-26 06:45         1    AAL         AMS      AAL     1
1    Alice  May-26 06:45         1    AAL         AMS      AMS     2
2    Bruce  Jun-04 11:04         2    GVA         WAW      GVA     1
3    Bruce  Jun-04 11:04         2    GVA         WAW      CGD     2
4    Bruce  Jun-04 11:04         2    GVA         WAW      WAW     3
5    Cindy  Jun-06 10:00         3    AMS         ATL      AMS     1
6    Cindy  Jun-06 10:00         3    AMS         ATL      LHR     2
7    Cindy  Jun-06 10:00         3    AMS         ATL      JFK     3
8    Cindy  Jun-06 10:00         3    AMS         ATL      ATL     4
9    Derek  Jun-12 08:09         4    AMS         ATL      AMS     1
10   Derek  Jun-12 08:09         4    AMS         ATL      ATL     2
11   Erica  Jun-13 20:40         5    ATL         AAL      ATL     1
12   Erica  Jun-13 20:40         5    ATL         AAL      AMS     2
13   Erica  Jun-13 20:40         5    ATL         AAL      AAL     3

In [8]:
# Normally Departure data does not contains year. So with DateOffset we can arrange it accordingly.
# Be aware when you run this cell do not run it again!
# If you run this cell more than one, please re-create tables again.

booking["Departure"] = pd.to_datetime(
    booking["Departure"], format="%b-%d %H:%M"
) + pd.offsets.DateOffset(years=120)
df["Departure"] = pd.to_datetime(
    df["Departure"], format="%b-%d %H:%M"
) + pd.offsets.DateOffset(years=120)
df

   PAXName           Departure  FlightId Origin Destination Airports  Rank
0    Alice 2020-05-26 06:45:00         1    AAL         AMS      AAL     1
1    Alice 2020-05-26 06:45:00         1    AAL         AMS      AMS     2
2    Bruce 2020-06-04 11:04:00         2    GVA         WAW      GVA     1
3    Bruce 2020-06-04 11:04:00         2    GVA         WAW      CGD     2
4    Bruce 2020-06-04 11:04:00         2    GVA         WAW      WAW     3
5    Cindy 2020-06-06 10:00:00         3    AMS         ATL      AMS     1
6    Cindy 2020-06-06 10:00:00         3    AMS         ATL      LHR     2
7    Cindy 2020-06-06 10:00:00         3    AMS         ATL      JFK     3
8    Cindy 2020-06-06 10:00:00         3    AMS         ATL      ATL     4
9    Derek 2020-06-12 08:09:00         4    AMS         ATL      AMS     1
10   Derek 2020-06-12 08:09:00         4    AMS         ATL      ATL     2
11   Erica 2020-06-13 20:40:00         5    ATL         AAL      ATL     1
12   Erica 2020-06-13 20:40:00         5    ATL         AAL      AMS     2
13   Erica 2020-06-13 20:40:00         5    ATL         AAL      AAL     3

## Q2: select bookings departing before a given time

In [9]:
#  You can easily enter the time format code like %Y-%m-%d %H:%M:%S.

mask = booking["Departure"] > "2020-6-5 10:00:00"
maskedBooking = booking.loc[mask]
maskedBooking

  PAXName           Departure  FlightId Origin Destination
2   Cindy 2020-06-06 10:00:00         3    AMS         ATL
3   Derek 2020-06-12 08:09:00         4    AMS         ATL
4   Erica 2020-06-13 20:40:00         5    ATL         AAL

## Q3: select bookings visiting two airports sequentially.

In [10]:
# Function for visiting two airports sequentially


def df_filter(df, ap1, ap2):
    """
    df: main dataframe
    ap1: first airport to search
    ap2: second airport to search
    """

    filt1 = (df["Airports"] == ap1) | (
        df["Airports"] == ap2
    )  # rows where ap1 or ap2 match
    df2 = df[filt1]
    mask = df2.FlightId.duplicated(
        keep=False
    )  # Selecting ap1 and ap2 occurs in same flight
    df3 = df2[mask]
    df4 = df3.pivot(index="FlightId", columns="Airports", values="Rank")
    df4["result"] = np.where(
        df4[ap1] + 1 == df4[ap2], 1, 0
    )  # Making sure that first ap1 occurs then ap2 occurs
    df5 = df4.loc[df4["result"] == 1]
    return df5.index.tolist()

In [11]:
# Example for visiting 'AMS' and 'LHR' sequentialy

filter_flight = df_filter(flight, "AMS", "LHR")
df.loc[df.FlightId.isin(filter_flight)]

  PAXName           Departure  FlightId Origin Destination Airports  Rank
5   Cindy 2020-06-06 10:00:00         3    AMS         ATL      AMS     1
6   Cindy 2020-06-06 10:00:00         3    AMS         ATL      LHR     2
7   Cindy 2020-06-06 10:00:00         3    AMS         ATL      JFK     3
8   Cindy 2020-06-06 10:00:00         3    AMS         ATL      ATL     4

In [12]:
# Example for visiting 'AMS' and 'ATL' sequentialy

filter_flight = df_filter(flight, "AMS", "ATL")
df.loc[df.FlightId.isin(filter_flight)]

   PAXName           Departure  FlightId Origin Destination Airports  Rank
9    Derek 2020-06-12 08:09:00         4    AMS         ATL      AMS     1
10   Derek 2020-06-12 08:09:00         4    AMS         ATL      ATL     2

## Q-Bonus: select bookings visiting not just two, but an arbitrary number of airports sequentially

In [13]:
# Function for visiting airport or airports sequentially


def df_arbit(df, df_b, arbit):
    """
    df: main dataframe
    df_b: booking dataframe
    arbit: arbitrary airports to search
    """
    flight2 = (
        flight.groupby(["FlightId"])["Airports"].apply("-".join).reset_index()
    )  # Merging rows of Airport into single column
    arbit2 = "-".join(arbit.iloc[:, 0])  # Merging airport that want to search
    filteredFlagId = [x for x, v in enumerate(flight2.Airports) if arbit2 in v]
    filteredBooking = df_b.loc[df_b.index.isin(filteredFlagId)]
    return filteredBooking.FlightId.tolist()

In [14]:
# Example for visiting 'AMS','LHR' and 'JFK' sequentialy

arbAirport = pd.DataFrame(
    {"Airports": ["AMS", "LHR", "JFK"]}
)  # Please enter which Airport/Airports want to search
filter_arbit = df_arbit(flight, booking, arbAirport)
df.loc[df.FlightId.isin(filter_arbit)]

  PAXName           Departure  FlightId Origin Destination Airports  Rank
5   Cindy 2020-06-06 10:00:00         3    AMS         ATL      AMS     1
6   Cindy 2020-06-06 10:00:00         3    AMS         ATL      LHR     2
7   Cindy 2020-06-06 10:00:00         3    AMS         ATL      JFK     3
8   Cindy 2020-06-06 10:00:00         3    AMS         ATL      ATL     4

In [15]:
# Example for visiting 'ATL'

arbAirport = pd.DataFrame(
    {"Airports": ["ATL"]}
)  # Please enter which Airport/Airports want to search
filter_arbit = df_arbit(flight, booking, arbAirport)
df.loc[df.FlightId.isin(filter_arbit)]

   PAXName           Departure  FlightId Origin Destination Airports  Rank
5    Cindy 2020-06-06 10:00:00         3    AMS         ATL      AMS     1
6    Cindy 2020-06-06 10:00:00         3    AMS         ATL      LHR     2
7    Cindy 2020-06-06 10:00:00         3    AMS         ATL      JFK     3
8    Cindy 2020-06-06 10:00:00         3    AMS         ATL      ATL     4
9    Derek 2020-06-12 08:09:00         4    AMS         ATL      AMS     1
10   Derek 2020-06-12 08:09:00         4    AMS         ATL      ATL     2
11   Erica 2020-06-13 20:40:00         5    ATL         AAL      ATL     1
12   Erica 2020-06-13 20:40:00         5    ATL         AAL      AMS     2
13   Erica 2020-06-13 20:40:00         5    ATL         AAL      AAL     3